/* Moodle 2.x Forum Aggregator styles */
.block_forum_aggregator .forum_title {
    text-align:center;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:5px;
}
.block_forum_aggregator .post {
    text-align:center;
}
.block_forum_aggregator .post div.head {
    font-size:10px;
    font-style:italic;
}
.block_forum_aggregator .no_posts {
    text-align:center;
    font-style:italic;
    font-size:10px;
}
.block_forum_aggregator .forums td {
    padding:5px;
}
.block_forum_aggregator .forums .header {
    font-weight:bold;
}