#fetchinfobox {
    text-align: center;
}
.subcourse_icons img {
    width: 20px;
}
.subcourse_icons {
    margin-left: 10px;
}
.subcourse_assmgr a, .subcourse_assmgr div {
    float: left;
    margin-left: 3px;
}
.subcourse_assmgr {
    margin-left: 20px;
    margin-top: 3px;
}
.subcourse_grade {
    margin-left: 20px;
}
